<div
  class="form-group"
  [ngClass]="containerClass"
  [class.ng-invalid]="parentFormControl?.invalid"
  [class.ng-touched]="parentFormControl?.touched"
  [class.is-required]="parentFormControl?.hasError('required')"
>
  <label class="small">{{ label }}</label>
  <div class="form-check">
    <div *ngFor="let option of options">
      <input
        type="radio"
        class="form-check-input"
        [id]="option.value"
        [value]="option.value"
        [name]="inputName"
        [formControl]="$any(parentFormControl)"
      />
      <label class="small">
        {{ option.label }}
      </label>
    </div>
  </div>
</div>
