# Module configuration
[GLOBAL]
    # Id of the taxref list (created in the admin interface) to use for this module
    # If not set, API queries will return all taxons
    ID_TAXON_LIST=101

    # Colors used for the map layers
    # SELECTED_LAYER_COLOR=#d7191c
    # UNSELECTED_LAYER_COLOR=#2c7bb6
    # SELECTED_LAYER_OPACITY: 0.9,
    # UNSELECTED_LAYER_OPACITY: 0.55,

# Individuals object configuration
[INDIVIDUALS]
    # Pagination : Nb max of lines displayed per page (default 10)
    DEFAULT_PAGE_SIZE=7

    # Columns to display in the individuals list. 
    # Have to be those of the corresponding API response /individuals/individuals
    LIST_COLUMNS=["individual_name","taxref_nom_vern","nomenclature_sex_name","last_observation_date","active"]

    # Columns to display in the individual detail page, in the section "Deployments" 
    # Have to be those of the corresponding API response /individuals/individuals/:id
    DEPLOYMENT_LIST_COLUMNS=["deployment_type_name","deployment_location_name","marking_code","install_date","removal_date"]

# Observations object configuration
[OBSERVATIONS]
    # Pagination : Nb max of lines displayed per page (default 10)
    # DEFAULT_PAGE_SIZE=

# Captures object configuration
[CAPTURES]
    # Pagination : Nb max of lines displayed per page (default 10)
    # DEFAULT_PAGE_SIZE=

# Tracking devices configuration
[DEVICES]
    # Pagination : Nb max of lines displayed per page (default 10)
    DEFAULT_PAGE_SIZE=10

    # Columns to display in the devices list. 
    # Have to be those of the corresponding API response /individuals/devices
    LIST_COLUMNS=["provider_name", "provider_device_id", "nomenclature_device_type_name", "referer_name", "last_individual_equipped_name", "meta_create_date"]

    # Columns to display in the device detail page, in the section "Deployments" 
    # Have to be those of the corresponding API response /individuals/devices/:id
    DEPLOYMENT_LIST_COLUMNS=["individual_name","install_date","removal_date","comment"]