# Module configuration
[GLOBAL]
# Id of the taxref list (created in the admin interface) to use for this module
# If not set, API queries will return all taxons
ID_TAXON_LIST=

# Individuals object configuration
[INDIVIDUALS]

# Observations object configuration
[OBSERVATIONS]

# Captures object configuration
[CAPTURES]

# Tracking devices configuration
[DEVICES]
    # The default columns name have to be those of the corresponding db table field
    DEFAULT_DISPLAYED_COLUMNS=["provider_name", "provider_device_id", "nomenclature_device_type_name", "referer_name", "last_individual_equipped_name", "meta_create_date"]
    DEFAULT_DEPLOY_DISPLAYED_COLUMNS=["individual_name","install_date","removal_date","comment"]
