<div
    class="form-group"
    [ngClass]="containerClass">
  <label class="small">{{ label }}</label>
  <input
    type="text"
    class="form-control form-control-sm"
    [ngClass]="inputClass"
    [formControl]="$any(parentFormControl)"
    [maxlength]="maxLength"
    [placeholder]="placeHolder || label"
  />
  <small
    class="text-danger d-block d-flex justify-content-end"
    *ngIf="errorKey && parentFormControl?.dirty && parentFormControl?.errors?.['pattern']"
  >
    {{ errorKey }}
  </small>
</div>