<div class="card border-primary bg-light">
  <h2 class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
    <div>
      {{ formTitle}}
    </div>
    <div>
      <button
        mat-mini-fab
        [matTooltip]="'Individuals.Actions.Back' | translate"
        class="mr-1 bg-dark text-white border-0"
        type="button"
        [disabled]="false"
        (click)="goBack()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        mat-mini-fab
        [matTooltip]="'Individuals.Actions.Save' | translate"
        class="mr-1 bg-success text-white border-0"
        type="button"
        [disabled]="true"
        (click)="save()"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </h2>
  <div
    class="card-body"
    id="card-station"
  >
    <!-- <ng-container
      *ngTemplateOutlet="formTemplate; context: { dataTable: dataTable }"
    >
    </ng-container> -->
    <ng-container
      *ngTemplateOutlet="formTemplate;"
    >
    </ng-container>
  </div>
</div>

