<!-- SUMMARY TEMPLATE -->
<ng-template
  #summaryTemplate
  let-row="row"
>
  <div class="row mx-0">
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.comment' | translate }} :</strong>
      {{ row.comment ?? '-' }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.meta_create_date' | translate }} :</strong>
      {{ row.meta_create_date }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.meta_update_date' | translate }} :</strong>
      {{ row.meta_update_date ?? '-' }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.digitiser_name' | translate }} :</strong>
      {{ row.digitiser_name }}
    </div>
  </div>
</ng-template>

<!-- FORM TEMPLATE -->
<ng-template #formTemplate>
  <div class="col-12 padding-sm">
    <!-- INPUT TEXT : individual_name -->
    <div class="form-group w-50">
      <label class="small">{{ 'Individuals.Individuals.Fields.individual_name' | translate }}</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [formControl]="$any(form.get('individual_name'))"
        [maxlength]="formConstraints['individual_name'].maxLength"
        [placeholder]="'Individuals.PlaceHolder.writeText' | translate"
        [class.is-invalid]="form.get('individual_name')?.invalid"
      />
      <small
        class="text-danger d-block d-flex"
        *ngIf="form.get('individual_name')?.errors?.['pattern']"
      >
        {{ 'Individuals.Errors.' + [formConstraints['individual_name'].help] | translate }}
      </small>
    </div>

    <!-- TAXONOMY : cd_nom -->
    <pnx-taxonomy
      class="form-group"
      [ngStyle]="{'max-width': '300px'}"
      [label]="'Individuals.Individuals.Filters.cd_nom' | translate"
      [parentFormControl]="$any(form.get('cd_nom'))"
      [idList]="taxonListId"
      [charNumber]="3"
      [displayedLabel]="'search_name'"
    ></pnx-taxonomy>

    <!-- NOMENCLATURE : id_nomenclature_sex -->
    <pnx-nomenclature
      class="form-group"
      [label]="'Individuals.Individuals.Fields.nomenclature_sex_name' | translate"
      [parentFormControl]="$any(form.get('id_nomenclature_sex'))"
      [codeNomenclatureType]="'SEXE'"
      [cdNomenclatures]="['2', '3']"
    ></pnx-nomenclature>

    <!-- INPUT RADIO : active -->
    <div
      class="form-group"
      [class.ng-invalid]="$any(form.get('active'))?.invalid"
      [class.ng-touched]="$any(form.get('active'))?.touched"
      [class.is-required]="$any(form.get('active'))?.hasError('required')"
    >
      <label class="small">{{ 'Individuals.Individuals.Fields.active' | translate }}</label>
      <div class="form-check">
        <div *ngFor="let option of [
          { value: true, label: 'Individuals.Others.Yes' | translate },
          { value: false, label: 'Individuals.Others.No' | translate }
        ]
        ">
          <input
            type="radio"
            class="form-check-input"
            [id]="option.value"
            [value]="option.value"
            [name]="'active'"
            [formControl]="$any(form.get('active'))"
          />
          <label class="small">
            {{ option.label }}
          </label>
        </div>
      </div>
    </div>

    <!-- TEXTAREA : comment -->
    <div class="form-group">
      <label class="small">{{ 'Individuals.Individuals.Fields.comment' | translate }}</label>
      <textarea
        type="textarea"
        class="form-control form-control-sm"
        [formControl]="$any(form.get('comment'))"
        [maxlength]="formConstraints['comment'].maxLength"
        [placeholder]="'Individuals.PlaceHolder.writeMore' | translate"
        [class.is-invalid]="form.get('comment')?.invalid"
      ></textarea>
      <small class="d-flex text-muted">
        {{ $any(form.get('comment'))?.value?.length || 0 }}/{{ formConstraints['comment'].maxLength }}
      </small>
      <small
          class="text-danger d-block d-flex"
          *ngIf="form.get('comment')?.errors?.['pattern']"
        >
          {{ 'Individuals.Errors.' + [formConstraints['comment'].help] | translate }}
      </small>
    </div>

    <!-- DYNAMIC FORM : ADDITIONNAL DATA -->
    <pnx-dynamic-form-generator
      [autoGenerated]="true"
      [myFormGroup]="$any(form.get('additional_data'))"
      [formsDefinition]="additionalFields"
    ></pnx-dynamic-form-generator>

  <!-- MULTISELECT : MODULES -->
    <pnx-multiselect
      class="form-group"
      label="{{ 'Individuals.Individuals.Fields.modules' | translate }}"
      [values]="individualsObjectModules"
      [parentFormControl]="$any(form.get('modules'))"
      keyLabel="label"
      keyValue="value"
    ></pnx-multiselect>

    <!-- LIST : deployment data -->
    <ng-container *ngIf="formAction == 'EDIT'">
      <small class="deployment-title">{{ 'Individuals.Individuals.Fields.deployments' | translate }}</small>
      <div class="col-12 padding-sm">
        <p class="list-component">
          <gn-individuals-list
            [idFieldName]="'id_deployment'"
            [displayedColumnsParams]="displayedDeploymentsColumnsParams"
            [availableColumnsParams]="availableDeploymentsColumnsParams"
            [dataTable$]="dataTable_deployments$"
            [fieldsTranslation]="'Individuals.Deployments.Fields'"
            [contentHeight]="null"
            [datatableColumnsLink]="datatableColumnsLink"
            [allowedToEdit]="allowedToChangeDeployments"
            [allowedToDelete]="allowedToChangeDeployments"
            [allowedToAdd]="allowedToAddDeployments"
            [summaryTemplate]="summaryTemplate"
            [usePagination]="false"
            [displayFilterButton]="false"
            [displayExportButton]="false"
            [displayInfoButtons]="false"
            [displayAddButton]="allowedToAddDeployments.access"
            (add)="addOrEditDeployment({ id_individual: datatable.id_individual })"
            (edit)="addOrEditDeployment($event)"
            (delete)="deleteDeployment($event.id_deployment)"
          ></gn-individuals-list>
        </p>
      </div>
    </ng-container>
  </div>
</ng-template>

<gn-individuals-form
  *ngIf="formAction === 'ADD'; else editMode"
  [formTitle]="'Individuals.Individuals.Titles.Add' | translate"
  [formTemplate]="formTemplate"
  [formAction]="formAction"
  [allowedToSave]="allowedToSave"
  (save)="onSave()"
  (cancel)="onCancel()"
></gn-individuals-form>

<ng-template #editMode>
  <gn-individuals-form
    [formTitle]="'Individuals.Individuals.Titles.Edit' | translate: { id: datatable.id_individual, name: datatable.individual_name }"
    [formTemplate]="formTemplate"
    [formAction]="formAction"
    [allowedToSave]="allowedToSave"
    (save)="onSave()"
    (cancel)="onCancel()"
  ></gn-individuals-form>
</ng-template>
