<div id="map-list-container">
  
  <div id="map-container"
    [ngStyle]="{ 'min-height.px': contentHeight }"
  >
    <div *ngIf="noGeometry" class="map-overlay-message">
      {{ noGeometryMessage }}
    </div>
    <pnx-map
      [height]="contentHeight + 'px'"
      [searchBar]="true"
    ></pnx-map>
    <pnx-geojson
      *ngIf="mapReady"
      [geojson]="mapData$ | async"
      [zoomOnLayer]="false"
      [onEachFeature]="onEachFeature.bind(this)"
    ></pnx-geojson>
  </div>

  <div id="list-container">
    <gn-individuals-list
      [objectName]="objectName"
      [idFieldName]="idFieldName"
      [displayedColumnsParams]="displayedColumnsParams"
      [availableColumnsParams]="availableColumnsParams"
      [dataTable$]="datatable$"
      [nbRowsToDisplay]="nbRowsToDisplay"
      [fieldsTranslation]="fieldsTranslation"
      [sorts]="sorts"
      [allowedToEdit]="allowedToEdit"
      [allowedToDelete]="allowedToDelete"
      [summaryTemplate]="summaryTemplate"
      [filtersTemplate]="filtersTemplate"
      [selectedRows]="selectedRows"
      (pagination)="onPage($event)"
      (sort)="onSort($event)"
      (select)="onTableSelect($event)"
      (delete)="openDeleteModal($event)"
    ></gn-individuals-list>
  </div>
</div>
