$input-font-size: 0.875rem;
$input-font-weight: 400;
$input-color: #495057;
$border: 1px solid #ced4da;
$input-place-holder-color: #6c757d;
$input-invalid-color: #ff0000;

/* Space between label and input */
.form-group, pnx-autocomplete {
  display: flex;
  // To be sure that the label stay over the input
  flex-direction: column;
  // Space between inputs
  margin-bottom: 0.6rem;
}

// The input keep the size of its content, not the size of the form-group
.form-group .form-control:not(textarea),.form-group .form-check, .ng-dropdown-panel {
  width: fit-content;
}

// For ng-select
.form-group > .form-group {
    margin-bottom: 0;
    width: fit-content;
}

.form-group > small:not(:first-of-type) {
  margin-top: 0.5rem;
}

.form-group small,
.form-group label,
pnx-autocomplete small {
  display: inline-block;
  margin-bottom: 0.5rem;
}

// .form-group small.text-danger {
//   width: 100%;
//   max-width: 100%;
//   overflow-wrap: break-word;
// }

/* 
To homogenize ng-select components (pnx-observers, pnx-nomenclature) 
with bootstrap components (.form-control-sm) 

.form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
*/
// Select options
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  color: $input-color;
}

// Select options : info, message
.cdk-describedby-message-container {
  font-size: $input-font-size;
  font-weight: $input-font-weight;
}

// Select input
.ng-select .ng-select-container .ng-value-container {
  padding-left: 0.5rem;
}

.ng-select.auto .ng-select-container,
.ng-select.ng-select-single .ng-select-container {
  height: calc(1.5em + 0.5rem + 2px);
  min-height: calc(1.5em + 0.5rem + 2px);
  border-radius: 0.2rem;
  border: $border
}

.ng-select.auto .ng-value, .ng-select .ng-select-container {
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  color: $input-color;
}

// Clear and arrow icons
.ng-select .ng-clear-wrapper .ng-clear {
  font-size: 1.3rem;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-width: 0.4rem 0.4rem 0.2rem;
}

/*
 To homogenize form-control place holder with <div class="ng-placeholder"> of ng-select component
*/
.form-control::placeholder,
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: $input-place-holder-color;
  opacity: 1;
  font-size: $input-font-size;
}

// Used by input type=date
.input-placeholder {
  color: $input-place-holder-color;
  opacity: 1;
  font-size: $input-font-size;
}

// Radio buttons
.form-check {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  padding-left: calc(0.25rem + 1.5rem);
  border: none;
  border-left: 5px solid transparent;
}

.form-check-input {
  accent-color: $input-color;
}


.form-group.ng-invalid.is-required .form-check {
  border-radius: 0.2rem;
  border-left: 5px solid $input-invalid-color;
}

// Input type=date
.form-control.is-invalid {
  border-radius: 0.2rem;
  border: $border;
  border-left: 5px solid $input-invalid-color;
  background-image: none;
  padding-right: 0.5rem;
}