<div class="d-flex flex-wrap filters-form">
  <!-- INPUT RADIO : active -->
  <div
    class="form-group"
    [class.ng-invalid]="$any(filtersForm.get('active'))?.invalid"
    [class.ng-touched]="$any(filtersForm.get('active'))?.touched"
    [class.is-required]="$any(filtersForm.get('active'))?.hasError('required')"
  >
    <label class="small">{{ 'Individuals.Individuals.Fields.active' | translate }}</label>
    <div class="form-check">
      <div
        *ngFor="
          let option of [
            { value: 'true', label: 'Individuals.Others.Yes' | translate },
            { value: 'false', label: 'Individuals.Others.No' | translate },
            { value: '', label: 'Individuals.Others.All' | translate }
          ]
        "
      >
        <input
          type="radio"
          class="form-check-input"
          [id]="option.value"
          [value]="option.value"
          [name]="'active'"
          [formControl]="$any(filtersForm.get('active'))"
        />
        <label class="small">
          {{ option.label }}
        </label>
      </div>
    </div>
  </div>

  <!-- TAXONOMY : cd_nom -->
  <pnx-taxonomy
    [ngClass]="'form-group w-25'"
    [label]="'Individuals.Devices.Filters.cd_nom' | translate"
    [parentFormControl]="$any(filtersForm.get('cd_nom'))"
    [idList]="taxonListId"
    [charNumber]="3"
  ></pnx-taxonomy>

  <!-- NOMENCLATURE : id_nomenclature_sex -->
  <pnx-nomenclature
    [ngClass]="'form-group'"
    [label]="'Individuals.Individuals.Fields.nomenclature_sex_name' | translate"
    [parentFormControl]="$any(filtersForm.get('id_nomenclature_sex'))"
    [codeNomenclatureType]="'SEXE'"
    [cdNomenclatures]="['2', '3']"
  ></pnx-nomenclature>

  <!-- INPUT TEXT : individual_name -->
  <div class="form-group">
    <label class="small">{{ 'Individuals.Individuals.Fields.individual_name' | translate }}</label>
    <input
      type="text"
      class="form-control form-control-sm"
      [formControl]="$any(filtersForm.get('individual_name'))"
      [maxlength]="formConstraints['individual_name'].maxLength"
      [placeholder]="'Individuals.PlaceHolder.firstLetters' | translate"
      [class.is-invalid]="filtersForm.get('individual_name')?.invalid"
    />
    <small
      class="text-danger d-block d-flex justify-content-end"
      *ngIf="filtersForm.get('individual_name')?.errors?.['pattern']"
    >
      {{ 'Individuals.Errors.' + [formConstraints['individual_name'].help] | translate }}
    </small>
  </div>

  <button
    mat-mini-fab
    [matTooltip]="'Individuals.Actions.Reset' | translate"
    class="custom-mini-fab mr-1 bg-secondary text-white border-0"
    (click)="onResetFilters()"
  >
    <mat-icon>restart_alt</mat-icon>
  </button>
</div>
