<!-- SUMMARY TEMPLATE -->
<ng-template
  #summaryTemplate
  let-row="row"
>
  <div class="row mx-0">
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.comment' | translate }} :</strong>
      {{ row.comment ?? '-' }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.meta_create_date' | translate }} :</strong>
      {{ row.meta_create_date }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.meta_update_date' | translate }} :</strong>
      {{ row.meta_update_date ?? '-' }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.digitiser_name' | translate }} :</strong>
      {{ row.digitiser_name }}
    </div>
  </div>
</ng-template>

<!-- INFO TEMPLATE -->
<ng-template
  #infoTemplate
  let-datatable="datatable"
>
  <div class="content row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.individual_name' | translate }}</h3>
      <p>
        {{ datatable['individual_name'] }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.taxref_nom_vern' | translate }}</h3>
      <p>{{ datatable['nom_vern'] }} ( {{ datatable['lb_nom'] }})</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">
        {{ 'Individuals.Individuals.Fields.nomenclature_sex_name' | translate }}
      </h3>
      <p>
        {{ datatable['nomenclature_sex']?.['label_' + defaultLang] }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.comment' | translate }}</h3>
      <p style="white-space: pre-line;">
        {{ datatable['comment'] ?? '-' }}
      </p>
    </div>
  </div>

  <div *ngIf="additionalFields.length > 0" class="content row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm"
      *ngFor="let field of additionalFields"
    >
      <h3 class="text-muted">
        {{ field.attribut_label }}
      </h3>
      <p *ngIf="field.type_widget == 'date'" style="white-space: pre-line;">
        {{ dateFormat(datatable['additional_data']?.[field.attribut_name]) ?? "-" }}
      </p>
      <p *ngIf="field.type_widget == 'time'" style="white-space: pre-line;">
        {{ timeFormat(datatable['additional_data']?.[field.attribut_name]) ?? "-" }}
      </p>
      <p *ngIf="field.type_widget == 'select' || field.type_widget == 'radio' || field.type_widget == 'checkbox' || field.type_widget == 'multiselect'" style="white-space: pre-line;">
        {{ getValuesLabels(field.values,datatable['additional_data']?.[field.attribut_name]) ?? "-" }}
      </p>
      <p *ngIf="field.type_widget == 'number' || field.type_widget == 'text' || field.type_widget == 'textarea'" style="white-space: pre-line;">
        {{ datatable['additional_data']?.[field.attribut_name] ?? "-" }}
      </p>
    </div>
  </div>

  <div class="content row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.modules' | translate }}</h3>
      <p>
        <span *ngFor="let module of datatable['modules']; let last = last">
          {{ module.module_code}}
          <span *ngIf="!last">,</span>  
        </span>
        <span *ngIf="datatable['modules'].length == 0">-</span>
      </p>
    </div>
  </div>

  <div class="content row one-per-row">
    <div
      class="col-12 padding-sm"
    >
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.deployments' | translate }}</h3>
      <p class="list-component">
        <gn-individuals-list
          [idFieldName]="'id_deployment'"
          [displayedColumnsParams]="displayedDeploymentsColumnsParams"
          [availableColumnsParams]="availableDeploymentsColumnsParams"
          [dataTable$]="datatable_deployments$"
          [fieldsTranslation]="'Individuals.Deployments.Fields'"
          [contentHeight]="null"
          [datatableColumnsLink]="datatableColumnsLink"
          [allowedToEdit]="allowedToChangeDeployments"
          [allowedToDelete]="allowedToChangeDeployments"
          [allowedToAdd]="this.allowedToEdit"
          [summaryTemplate]="summaryTemplate"
          [usePagination]="false"
          [displayFilterButton]="false"
          [displayExportButton]="false"
          [displayInfoButtons]="false"
          (add)="addOrEditDeployment({ id_individual: datatable.id_individual })"
          (edit)="addOrEditDeployment($event)"
          (delete)="deleteDeployment($event.id_deployment)"
        ></gn-individuals-list>
      </p>
    </div>
  </div>

  <div class="content row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.digitiser_name' | translate }}</h3>
      <p>
        {{ datatable['digitiser']?.['nom_complet'] }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">
        {{ 'Individuals.Individuals.Fields.meta_create_date' | translate }}
      </h3>
      <p>
        {{ datatable['meta_create_date'] }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">
        {{ 'Individuals.Individuals.Fields.meta_update_date' | translate }}
      </h3>
      <p>
        {{ datatable['meta_update_date'] ?? '-' }}
      </p>
    </div>
  </div>
</ng-template>

<ng-template
  #featurePopupTemplate
  let-feature="feature"
>
  <div>
    <span>
      <strong>{{ 'Date' | translate }} :</strong>
      {{ feature.properties.date_min }}
    </span>
    <br />
    <span>
      <strong>
        {{ 'Observers?' | translate }} :
      </strong>
      {{ feature.properties.observers }}
    </span>
    <br />
    <span>
      <strong>{{ 'MetaData.DatasetName' | translate }} :</strong>
      {{ feature.properties.dataset_name }}
    </span>

  </div>
</ng-template>

<div id="map-list-container">
  <div
    id="map-container"
    [ngStyle]="{ 'min-height.px': contentHeight }"
  >
    <div
      *ngIf="noGeometry"
      class="map-overlay-message"
    >
      {{ 'Individuals.Individuals.Messages.NoGeometry' | translate }}
    </div>
    <pnx-map
      [height]="contentHeight + 'px'"
      [searchBar]="true"
    ></pnx-map>
    <pnx-geojson
      *ngIf="mapReady"
      [geojson]="mapData$ | async"
      [zoomOnLayer]="false"
      [onEachFeature]="onEachFeature.bind(this)"
    ></pnx-geojson>
  </div>
  
  <div id="info-container">
    <gn-individuals-info
      [infoTemplate]="infoTemplate"
      [datatable]="datatable"
      [infoTitle]="'Individuals.Individuals.Titles.Info' | translate: { id: datatable.id_individual }"
      [objectName]="'individuals'"
      [objectId]="datatable.id_individual"
      [allowedToEdit]="allowedToEdit"
      [allowedToDelete]="allowedToDelete"
      (delete)="onDelete()"
    ></gn-individuals-info>
  </div>
</div>
