<div class="list-container">
  <div 
    class="col-12 padding-sm-occ"
    [ngStyle]="{ 'min-height.px': contentHeight }"
  >
    <ngx-datatable *ngIf="dataTable$ | async as deviceCollection"
        #dataTable
        class="material striped margin-top-xs table-size expandable"
        [columnMode]="'force'"
        [columns]="displayedColumns"
        [rowHeight]="rowHeight"
        [headerHeight]="headerFooterHeight"
        [footerHeight]="headerFooterHeight"
        [externalPaging]="true"
        [count]="deviceCollection.total"
        [limit]="rowNumber"
        [offset]="deviceCollection.page - 1"
        [rows]="deviceCollection.items"
        (page)="onPage($event)"
    ></ngx-datatable>
  </div>
</div>

<!-- Sur datatable-body-cell pour centrer le contenu des lignes du tableau :
display: flex;
align-items: center; /* centre verticalement */
justify-content: flex-start; /* alignement horizontal inchangé */ -->