@use '../../styles/buttons' as *;
@use '../../styles/datatable.scss' as *;

.action-buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

// button box-shadow -> cancel this box shadow that appear on focus
.btn:focus {
  outline: none;
  box-shadow: none;
}

// To select the filters div
.filters {
  margin-bottom: 0.7rem;
}
