<div [ngStyle]="contentHeight ? { 'min-height.px': contentHeight } : {}">
<!-- <div> -->
  <div class="action-buttons" *ngIf="displayAddButton || displayFilterButton || displayExportButton">
    <ng-container *ngIf="displayAddButton">
      <button
        id="add"
        mat-mini-fab
        [matTooltip]="'Individuals.Actions.Add' | translate"
        class="custom-mini-fab mr-1 bg-primary text-white border-0"
        (click)="onAdd()"
        [disabled]="false"
      >
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="displayFilterButton">
      <button
        id="filter"
        mat-mini-fab
        [matTooltip]="'Individuals.Actions.Filter' | translate"
        class="custom-mini-fab mr-1 bg-info text-white border-0"
        (click)="toggleShowFilters()"
        [disabled]="false"
      >
        <mat-icon>filter_alt</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="displayExportButton">
      <button
        id="download"
        mat-mini-fab
        [matTooltip]="'Individuals.Actions.Download' | translate"
        class="custom-mini-fab mr-1 bg-secondary text-white border-0"
        [disabled]="false"
      >
        <mat-icon>download</mat-icon>
      </button>
    </ng-container>
  </div>
  <div
    *ngIf="showFilters"
    class="ngx-datatable material filters"
  >
    <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
  </div>
  <ngx-datatable
    *ngIf="dataTable$ | async as dataTable"
    #dataTable
    class="material striped margin-top-xs table-size expandable"
    [columnMode]="'force'"
    [columns]="displayedColumns"
    [scrollbarH]="true"
    [rowHeight]="rowHeight"
    [headerHeight]="rowHeight + 10"
    [footerHeight]="rowHeight + 10"
    [externalPaging]="usePagination"
    [messages]="tableMessages"
    [count]="usePagination ? $any(dataTable).total : dataTable.items.length"
    [limit]="usePagination ? nbRowsToDisplay : undefined"
    [offset]="$any(dataTable).page ?? 0"
    [rows]="dataTable.items"
    [sorts]="sorts"
    [selectionType]="selectionType.single"
    [selected]="selectedRows"
    (page)="onPage($event)"
    (sort)="onSort($event)"
    (select)="onSelect($event)"
  >

    <ngx-datatable-row-detail [rowHeight]="$any('auto')" *ngIf="displaySummaryButtons">
      <ng-template
        ngx-datatable-row-detail-template
        let-row="row"
        let-expanded="expanded"
      >
        <ng-container *ngTemplateOutlet="summaryTemplate; context: { row: row }"></ng-container>
      </ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-column *ngIf="displaySummaryButtons"
      id="summary"
      [width]="actionColumnsWidth"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
        let-expanded="expanded"
      >
        <button
          class="btn btn-row"
          matTooltip="{{ 'Individuals.Actions.Summary' | translate }}"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          (click)="toggleExpandRow(row)"
        ></button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="displayInfoButtons"
      id="informations"
      [width]="actionColumnsWidth"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
      >
        <button
          class="btn btn-row fa fa-info-circle"
          matTooltip="{{ 'Individuals.Actions.Informations' | translate }}"
          (click)="onInfo(row)"
          [disabled]="false"
        ></button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="displayEditButtons"
      id="edit"
      [width]="actionColumnsWidth"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
      >
        <span
          [matTooltip]="
            allowedToEdit[row[idFieldName]]?.message ?? ('Individuals.Actions.Edit' | translate)
          "
        >
          <button
            class="btn btn-row fa fa-pencil-square-o"
            (click)="onEdit(row)"
            [disabled]="!allowedToEdit[row[idFieldName]]?.access"
          ></button>
        </span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="displayDeleteButtons"
      id="delete"
      [width]="actionColumnsWidth"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
      >
        <span
          [matTooltip]="
            allowedToDelete[row[idFieldName]]?.message ?? ('Individuals.Actions.Delete' | translate)
          "
        >
          <button
            class="btn btn-row fa fa-trash-o"
            (click)="onDelete(row)"
            [disabled]="!allowedToDelete[row[idFieldName]]?.access"
          ></button>
        </span>
      </ng-template>
    </ngx-datatable-column>
    <!-- Displayed data columns -->
    <ngx-datatable-column
      *ngFor="let column of displayedColumns"
      [name]="column.name"
      [prop]="column.prop"
      [sortable]="displaySortButtons"
    >
      <ng-template
        ngx-datatable-cell-template
        let-row="row"
        maxWidth="columnMaxWidth"
      >
        <span *ngIf="getColumnLink(column.prop) as columnLink; else withoutLink">
          <a [routerLink]="[columnLink.link_prefix, row[columnLink.id_field_name]]">
            {{
              row[column.prop] === null || row[column.prop] === undefined
                ? '-'
                : row[column.prop] === false
                  ? ('Individuals.Others.No' | translate)
                  : row[column.prop] === true
                    ? ('Individuals.Others.Yes' | translate)
                    : row[column.prop]
            }}
          </a>
        </span>
        <ng-template #withoutLink>
          <span>
            {{
              row[column.prop] === null || row[column.prop] === undefined
                ? '-'
                : row[column.prop] === false
                  ? ('Individuals.Others.No' | translate)
                  : row[column.prop] === true
                    ? ('Individuals.Others.Yes' | translate)
                    : row[column.prop]
            }}
          </span>
        </ng-template>    
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
