<div class="d-flex flex-wrap filters-form">
  <!-- cd_nom : taxon -->
  <pnx-taxonomy
    *ngIf="'cd_nom' as field"
    [ngClass]="'form-group w-25'"
    [label]="'Individuals.Devices.Filters.' + field | translate"
    [parentFormControl]="$any(filtersForm.get(field))"
    [idList]="taxonListId"
    [charNumber]="3"
  ></pnx-taxonomy>

  <!-- id_nomenclature_device_type -->
  <pnx-nomenclature
    [ngClass]="'form-group'"
    [label]="'Individuals.Devices.Fields.id_nomenclature_device_type' | translate"
    [parentFormControl]="$any(filtersForm.get('id_nomenclature_device_type'))"
    [codeNomenclatureType]="'TYPE_DISPO_SUIVI'"
  ></pnx-nomenclature>

  <!-- provider_name -->
  <gn-individuals-input-text
    [label]="'Individuals.Devices.Fields.provider_name' | translate"
    [parentFormControl]="filtersForm.get('provider_name')"
    [maxLength]="formConstraints['provider_name'].maxLength"
    [errorKey]="'Individuals.Errors.' + [formConstraints['provider_name'].help] | translate"
    [placeHolder]="'Individuals.Form.firstLetters' | translate"
  ></gn-individuals-input-text>

  <!-- referer_name -->
  <pnx-observers
    [ngClass]="'form-group w-25'"
    [label]="'Individuals.Devices.Fields.id_referer' | translate"
    [parentFormControl]="$any(filtersForm.get('id_referer'))"
    [bindAllItem]="true"
    [placeHolder]="'Individuals.Devices.PlaceHolder.id_referer' | translate"
  ></pnx-observers>

  <button
    mat-mini-fab
    [matTooltip]="'Actions.Reset' | translate"
    class="custom-mini-fab mr-1 bg-secondary text-white border-0"
    (click)="onResetFilters()"
  >
    <mat-icon>restart_alt</mat-icon>
  </button>
</div>
