<!-- SUMMARY TEMPLATE -->
<ng-template
  #summaryTemplate
  let-row="row"
>
  <div class="row mx-0">
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.id_tracking_device' | translate }} :</strong>
      {{ row.id_tracking_device }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.meta_create_date' | translate }} :</strong>
      {{ row.meta_create_date }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.digitiser_name' | translate }} :</strong>
      {{ row.digitiser_name }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.provider_name' | translate }} :</strong>
      {{ row.provider_name }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.provider_device_id' | translate }} :</strong>
      {{ row.provider_device_id }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>
        {{ 'Individuals.Devices.Fields.nomenclature_device_type_name' | translate }} :
      </strong>
      {{ row.nomenclature_device_type_name }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.referer_name' | translate }} :</strong>
      {{ row.referer_name }}
    </div>
  </div>
</ng-template>

<ng-template #filtersTemplate>
  <gn-individuals-devices-filters (filters)="onFilters($event)"></gn-individuals-devices-filters>
</ng-template>

<gn-individuals-list
  [objectName]="'devices'"
  [idFieldName]="'id_tracking_device'"
  [displayedColumnsParams]="displayedColumnsParams"
  [availableColumnsParams]="availableColumnsParams"
  [dataTable$]="dataTable$"
  [nbRowsToDisplay]="nbRowsToDisplay"
  [fieldsTranslation]="fieldsTranslation"
  [sorts]="sorts"
  [allowedToEdit]="allowedToEdit"
  [allowedToDelete]="allowedToDelete"
  [summaryTemplate]="summaryTemplate"
  [filtersTemplate]="filtersTemplate"
  (pagination)="onPage($event)"
  (sort)="onSort($event)"
  (delete)="openDeleteModal($event)"
></gn-individuals-list>
