<!-- SUMMARY TEMPLATE -->
<ng-template
  #summaryTemplate
  let-row="row"
>
  <div class="row mx-0">
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.comment' | translate }} :</strong>
      {{ row.comment ?? '-' }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.meta_create_date' | translate }} :</strong>
      {{ row.meta_create_date }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Deployments.Fields.meta_update_date' | translate }} :</strong>
      {{ row.meta_update_date ?? '-' }}
    </div>
    <div class="col-12 col-md-6 px-0">
      <strong>{{ 'Individuals.Devices.Fields.digitiser_name' | translate }} :</strong>
      {{ row.digitiser_name }}
    </div>
  </div>
</ng-template>

<!-- INFO TEMPLATE -->
<ng-template
  #infoTemplate
  let-dataTable="dataTable"
>
  <div class="content row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.individual_name' | translate }}</h3>
      <p>
        {{ dataTable['individual_name'] }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.taxref_nom_vern' | translate }}</h3>
      <p>{{ dataTable['nom_vern'] }} ( {{ dataTable['lb_nom'] }})</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">
        {{ 'Individuals.Individuals.Fields.nomenclature_sex_name' | translate }}
      </h3>
      <p>
        {{ dataTable['nomenclature_sex']?.['label_' + defaultLang] }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.comment' | translate }}</h3>
      <p>
        {{ dataTable['comment'] ?? '-' }}
      </p>
    </div>
  </div>
  <div class="content row one-per-row">
    <div
      class="col-12 padding-sm"
    >
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.deployments' | translate }}</h3>

      <p class="list-component">
        <gn-individuals-list
          [idFieldName]="'id_deployment'"
          [displayedColumnsParams]="displayedDeploymentsColumnsParams"
          [availableColumnsParams]="availableDeploymentsColumnsParams"
          [dataTable$]="dataTable_deployments$"
          [fieldsTranslation]="'Individuals.Deployments.Fields'"
          [contentHeight]="null"
          [datatableColumnsLink]="datatableColumnsLink"
          [allowedToEdit]="allowedToChangeDeployments"
          [allowedToDelete]="allowedToChangeDeployments"
          [summaryTemplate]="summaryTemplate"
          [usePagination]="false"
          [displayFilterButton]="false"
          [displayExportButton]="false"
          [displayInfoButtons]="false"
          (add)="addOrEditDeployment({ id_individual: dataTable.id_individual })"
          (edit)="addOrEditDeployment($event)"
          (delete)="deleteDeployment($event.id_deployment)"
        ></gn-individuals-list>
      </p>
    </div>
  </div>
  <div class="content row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">{{ 'Individuals.Individuals.Fields.digitiser_name' | translate }}</h3>
      <p>
        {{ dataTable['digitiser']?.['nom_complet'] }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">
        {{ 'Individuals.Individuals.Fields.meta_create_date' | translate }}
      </h3>
      <p>
        {{ dataTable['meta_create_date'] }}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-sm">
      <h3 class="text-muted">
        {{ 'Individuals.Individuals.Fields.meta_update_date' | translate }}
      </h3>
      <p>
        {{ dataTable['meta_update_date'] ?? '-' }}
      </p>
    </div>
  </div>
  <h3 class="text-muted">infos complémentaires</h3>
  <div
    class="content row"
    *ngFor="let additionalField of additionalFields"
  >
    <b>{{ additionalField.attribut_label }} :</b>
    {{ dataTable['additional_data'][additionalField.attribut_name] }}
  </div>
</ng-template>

<gn-individuals-info
  *ngIf="dataTable$ | async as dataTable"
  [infoTemplate]="infoTemplate"
  [dataTable]="dataTable"
  [infoTitle]="'Individuals.Individuals.Titles.Info' | translate: { id: dataTable.id_individual }"
  [objectName]="'individuals'"
  [objectId]="dataTable.id_individual"
  [allowedToEdit]="allowedToEdit"
  [allowedToDelete]="allowedToDelete"
  (delete)="onDelete()"
></gn-individuals-info>
