<div class="d-flex flex-wrap filters-form">
  <!-- TAXONOMY : cd_nom -->
  <pnx-taxonomy
    *ngIf="'cd_nom' as field"
    [ngClass]="'form-group w-25'"
    [label]="'Individuals.Devices.Filters.' + field | translate"
    [parentFormControl]="$any(filtersForm.get(field))"
    [idList]="taxonListId"
    [charNumber]="3"
  ></pnx-taxonomy>

  <!-- NOMENCLATURE : id_nomenclature_device_type -->
  <pnx-nomenclature
    [ngClass]="'form-group'"
    [label]="'Individuals.Devices.Fields.id_nomenclature_device_type' | translate"
    [parentFormControl]="$any(filtersForm.get('id_nomenclature_device_type'))"
    [codeNomenclatureType]="'TYPE_DISPO_SUIVI'"
  ></pnx-nomenclature>

  <!-- INPUT TEXT : provider_name -->
  <div class="form-group">
    <label class="small">{{ 'Individuals.Devices.Fields.provider_name' | translate }}</label>
    <input
      type="text"
      class="form-control form-control-sm"
      [formControl]="$any(filtersForm.get('provider_name'))"
      [maxlength]="formConstraints['provider_name'].maxLength"
      [placeholder]="'Individuals.PlaceHolder.firstLetters' | translate"
      [class.is-invalid]="filtersForm.get('provider_name')?.invalid"
    />
    <small
      class="text-danger d-block d-flex justify-content-end"
      *ngIf="filtersForm.get('provider_name')?.errors?.['pattern']"
    >
      {{ 'Individuals.Errors.' + [formConstraints['provider_name'].help] | translate }}
    </small>
  </div>

  <!-- OBSERVERS : referer_name -->
  <pnx-observers
    [ngClass]="'form-group'"
    [label]="'Individuals.Devices.Fields.id_referer' | translate"
    [parentFormControl]="$any(filtersForm.get('id_referer'))"
    [bindAllItem]="true"
    [placeHolder]="'Individuals.Devices.PlaceHolder.id_referer' | translate"
  ></pnx-observers>

  <button
    mat-mini-fab
    [matTooltip]="'Individuals.Actions.Reset' | translate"
    class="custom-mini-fab mr-1 bg-secondary text-white border-0"
    (click)="onResetFilters()"
  >
    <mat-icon>restart_alt</mat-icon>
  </button>
</div>
