<ng-template
 #formTemplate
 let-dataTable="dataTable"
>
  <div class="content row">
    <div class="col-6 padding-sm">
      <div *ngIf="'id_referer' as field"
        class="form-group"
      >
        <pnx-observers
          label="{{'Individuals.DevicesFields.' + field | translate}}"
          [parentFormControl]="form.get(field)"
          [bindAllItem]="true"
        ></pnx-observers>
      </div> 
      <!-- <mat-form-field *ngIf="'comment' as field"
        class="form-group"
      >
        <mat-label class="small">{{'Individuals.DevicesFields.' + field | translate}}</mat-label>
        <textarea
          type="textarea"
          class="form-control form-control-sm"
          [formControl]="form.get(field)"
        ></textarea>
        <mat-hint>
          {{ form.get('comment')?.value?.length || 0 }}/{{form.get('comment')?.getError('maxlength')?.requiredLength}}
        </mat-hint>
        <mat-error *ngIf="form.get('comment')?.hasError('pattern')">
           // The comment must not contain HTML tags.
        </mat-error>
      </mat-form-field> -->
      
      <div *ngIf="'comment' as field"
        class="form-group">
        <label class="small">{{'Individuals.DevicesFields.' + field | translate}}</label>
        <textarea
          type="textarea"
          class="form-control form-control-sm"
          [formControl]="form.get(field)"
        ></textarea>
        <mat-hint>
          {{ form.get(field)}}
          {{ form.get(field)?.value?.length || 0 }}/{{form.get(field)?.getError('maxLength')?.requiredLength}}
        </mat-hint>
        <mat-error *ngIf="form.get(field)?.hasError('pattern')">
           // The comment must not contain HTML tags.
        </mat-error>
      </div>
    </div>
  </div>  
</ng-template>

<gn-individuals-form *ngIf="formAction === 'ADD';else editMode"
  [formTitle]="'Individuals.Form.DevicesAddTitle' | translate"
  [formTemplate]="formTemplate"
  [formAction]="formAction"
>
</gn-individuals-form>

<ng-template #editMode>
  <gn-individuals-form
    *ngIf="dataTable$ | async as dataTable"
    [formTitle]="('Individuals.Form.DevicesEditTitle' | translate) + deviceId"
    [formTemplate]="formTemplate"
    [formAction]="formAction"
    [dataTable]="dataTable"
  >
  </gn-individuals-form>
</ng-template>