.main-container {
  // display: flex;
  // flex-direction: column;
  // height: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-container > div.tab-map-list-container {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  padding: 10px 15px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

.main-container > div.tab-map-list-container a {
  text-decoration: none;
}

.main-container > div.tab-map-list-container nav {
  padding-bottom: 10px;
}