<ng-template #formTemplate>
  <div class="col-6 padding-sm">
    <!-- NOMENCLATURE : id_nomenclature_device_type -->
    <pnx-nomenclature
      class="form-group w-50"
      [label]="'Individuals.Devices.Fields.id_nomenclature_device_type' | translate"
      [parentFormControl]="$any(form.get('id_nomenclature_device_type'))"
      [codeNomenclatureType]="'TYPE_DISPO_SUIVI'"
    ></pnx-nomenclature>

    <!-- INPUT TEXT : provider_name -->
    <div class="form-group w-50">
      <label class="small">{{ 'Individuals.Devices.Fields.provider_name' | translate }}</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [formControl]="$any(form.get('provider_name'))"
        [maxlength]="formConstraints['provider_name'].maxLength"
        [placeholder]="'Individuals.Devices.PlaceHolder.provider_name' | translate"
        [class.is-invalid]="form.get('provider_name')?.invalid"
      />
      <small
        class="text-danger d-block d-flex"
        *ngIf="form.get('provider_name')?.errors?.['pattern']"
      >
        {{ 'Individuals.Errors.' + [formConstraints['provider_name'].help] | translate }}
      </small>
    </div>

    <!-- INPUT TEXT : provider_device_id -->
    <div class="form-group w-50">
      <label class="small">{{ 'Individuals.Devices.Fields.provider_device_id' | translate }}</label>
      <input
        type="text"
        class="form-control form-control-sm"
        [formControl]="$any(form.get('provider_device_id'))"
        [maxlength]="formConstraints['provider_device_id'].maxLength"
        [placeholder]="'Individuals.Devices.PlaceHolder.provider_device_id' | translate"
        [class.is-invalid]="form.get('provider_device_id')?.invalid"
      />
      <small
        class="text-danger d-block d-flex"
        *ngIf="form.get('provider_device_id')?.errors?.['pattern']"
      >
        {{ 'Individuals.Errors.' + [formConstraints['provider_device_id'].help] | translate }}
      </small>
    </div>

    <!-- OBSERVERS : id_referer -->
    <pnx-observers
      class="form-group"
      [label]="'Individuals.Devices.Fields.id_referer' | translate"
      [parentFormControl]="$any(form.get('id_referer'))"
      [bindAllItem]="true"
      [placeHolder]="'Individuals.Devices.PlaceHolder.id_referer' | translate"
    ></pnx-observers>

    <!-- TEXTAREA : comment -->
    <div class="form-group w-100">
      <label class="small">{{ 'Individuals.Devices.Fields.comment' | translate }}</label>
      <textarea
        type="textarea"
        class="form-control form-control-sm"
        [formControl]="$any(form.get('comment'))"
        [maxlength]="formConstraints['comment'].maxLength"
        [placeholder]="'Individuals.PlaceHolder.writeMore' | translate"
        [class.is-invalid]="form.get('comment')?.invalid"
      ></textarea>
      <small class="d-flex text-muted">
        {{ $any(form.get('comment'))?.value?.length || 0 }}/{{ formConstraints['comment'].maxLength }}
      </small>
      <small
          class="text-danger d-block d-flex"
          *ngIf="form.get('comment')?.errors?.['pattern']"
        >
          {{ 'Individuals.Errors.' + [formConstraints['comment'].help] | translate }}
      </small>
    </div>
  </div>
</ng-template>

<gn-individuals-form
  *ngIf="formAction === 'ADD'; else editMode"
  [formTitle]="'Individuals.Devices.Titles.Add' | translate"
  [formTemplate]="formTemplate"
  [formAction]="formAction"
  [allowedToSave]="allowedToSave"
  (cancel)="onCancel()"
  (save)="onSave()"
></gn-individuals-form>

<ng-template #editMode>
  <gn-individuals-form
    [formTitle]="'Individuals.Devices.Titles.Edit' | translate: { id: deviceId }"
    [formTemplate]="formTemplate"
    [formAction]="formAction"
    [allowedToSave]="allowedToSave"
    (cancel)="onCancel()"
    (save)="onSave()"
  ></gn-individuals-form>
</ng-template>
