<!-- <div class="card bg-light"> -->
<div class="card card-custom">
  <h2 class="card-header card-header-custom">
    <div>
      {{ infoTitle }}
    </div>
    <div>
      <span
          [matTooltip]="allowedToEdit?.message??('Individuals.Actions.Edit' | translate)"
       >
        <button
          mat-mini-fab
          class="custom-mini-fab mr-1 bg-success text-white border-0"
          type="button"
          [disabled]="!allowedToEdit.access"
          [routerLink]="['/' + moduleName + '/' + objectName + '/form/', objectId]"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </span>
      <span
        [matTooltip]="allowedToDelete?.message??('Individuals.Actions.Delete' | translate)"
      >
        <button
          mat-mini-fab
          class="mr-1 bg-danger text-white border-0"
          type="button"
          [disabled]="!allowedToDelete.access"
          (click)="delete.emit()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </h2>
  <div class="card-body">
    <ng-container
      *ngTemplateOutlet="infoTemplate; context: { dataTable: dataTable }"
    ></ng-container>
  </div>
</div>
