@use '../../styles/buttons' as *;
@use '../../styles/cards' as *;
@use '../../styles/global' as *;

.one-per-row {
  display: flex;
  flex-direction: column;
}

.card-body .content.row p.list-component {
    margin-top: 12px;
}
