<!-- <div class="card bg-light"> -->
<div class="card card-custom">
  <h2 class="card-header card-header-custom">
    <div>
      {{ infoTitle }}
    </div>
    <div>
      <button
        mat-mini-fab
        [matTooltip]="'Individuals.Actions.Edit' | translate"
        class="custom-mini-fab mr-1 bg-success text-white border-0"
        type="button"
        [disabled]="false"
        [routerLink]="['/' + moduleName + '/' + objectName + '/form/', objectId]"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-mini-fab
        [matTooltip]="'Individuals.Actions.Delete' | translate"
        class="mr-1 bg-danger text-white border-0"
        type="button"
        [disabled]="canBeDeleted"
        (click)="delete.emit()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </h2>
  <div class="card-body">
    <ng-container
      *ngTemplateOutlet="infoTemplate; context: { dataTable: dataTable }"
    ></ng-container>
  </div>
</div>
