<div class="modal-header">
  <h5 class="modal-title">
    {{ 'Individuals.Deployments.Label' | translate }}
  </h5>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="cancelCreate()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form class="modal-content">
  <div
    class="modal-body"
    id="bodyModal"
    style="padding-top: 30px"
  >
    <gn-individuals-deployment-form [deploymentsForm]="form"></gn-individuals-deployment-form>
  </div>
</form>
<div class="modal-footer">
  <div class="d-flex justify-content-between">
    <button
      id="cancelButton"
      type="button"
      color="warn"
      mat-raised-button
      (click)="cancelCreate()"
    >
      {{ 'Individuals.Actions.Cancel' | translate }}
    </button>
    <button
      id="createButton"
      type="button"
      class="button-success"
      mat-raised-button
      (click)="createDeployment()"
      [disabled]="!form.valid"
    >
      {{ 'Individuals.Actions.Save' | translate }}
    </button>
  </div>
</div>
