<div class="modal-header">
  <h5 class="modal-title">
    {{ title }}
  </h5>
</div>
<div class="modal-body"
  [innerHTML]="body"
></div>
<div class="modal-footer">
  <button
    type="button"
    mat-stroked-button
    (click)="onCancel()"
  >
    <mat-icon>cancel</mat-icon>
    {{ 'Actions.Cancel' | translate }}
  </button>

  <button
    type="button"
    mat-raised-button
    color="warn"
    (click)="onConfirm()"
  >
    <mat-icon>delete</mat-icon>
    {{ 'Actions.Delete' | translate }}
  </button>
</div>
